<div class="item">
  <label>平均日薪(RMB)：</label>
  <div class="flex-1">
    <nz-input-number [(ngModel)]="dailyWage"></nz-input-number>
  </div>
</div>
<div class="item">
  <label>平均日工时(h)：</label>
  <div class="flex-1">
    <nz-input-number [(ngModel)]="workingHours"></nz-input-number>
  </div>
</div>
<div class="item">
  <label>通勤时长(h)：</label>
  <div class="flex-1">
    <nz-input-number [(ngModel)]="commuteHours"></nz-input-number>
  </div>
</div>
<div class="item">
  <label>摸鱼/午休耗时(h)：</label>
  <div class="flex-1">
    <nz-input-number [(ngModel)]="loafHours"></nz-input-number>
  </div>
</div>
<div class="item">
  <label>学历：</label>
  <div class="flex-1">
    <nz-select [(ngModel)]="education">
      <nz-option [nzValue]="0.8" nzLabel="专科及以下"></nz-option>
      <nz-option [nzValue]="1" nzLabel="普通本科"></nz-option>
      <nz-option [nzValue]="1.2" nzLabel="高级本科"></nz-option>
      <nz-option [nzValue]="1.4" nzLabel="普通硕士"></nz-option>
      <nz-option [nzValue]="1.6" nzLabel="高级硕士"></nz-option>
      <nz-option [nzValue]="1.8" nzLabel="普通博士"></nz-option>
      <nz-option [nzValue]="2" nzLabel="高级博士"></nz-option>
    </nz-select>
  </div>
</div>
<div class="item">
  <label>城市环境系数：</label>
  <div class="flex-1">
    <nz-select [(ngModel)]="cityEnvironment">
      <nz-option [nzValue]="1.5" nzLabel="一线(北上广深)"></nz-option>
      <nz-option [nzValue]="1.2" nzLabel="二线(新一线)"></nz-option>
      <nz-option [nzValue]="1" nzLabel="小城市"></nz-option>
      <nz-option [nzValue]="0.8" nzLabel="镇村"></nz-option>
    </nz-select>
  </div>
</div>
<div class="item">
  <label>工作环境系数：</label>
  <div class="flex-1">
    <nz-select [(ngModel)]="workEnvironment">
      <nz-option [nzValue]="0.8" nzLabel="远离城区"></nz-option>
      <nz-option [nzValue]="0.9" nzLabel="工厂/户外"></nz-option>
      <nz-option [nzValue]="1" nzLabel="普通(写字楼/商圈)"></nz-option>
      <nz-option [nzValue]="1.1" nzLabel="体制内"></nz-option>
    </nz-select>
  </div>
</div>
<div class="item">
  <label>同事环境系数：</label>
  <div class="flex-1">
    <nz-select [(ngModel)]="colleagueEnvironment">
      <nz-option [nzValue]="0.95" nzLabel="SB很多"></nz-option>
      <nz-option [nzValue]="1" nzLabel="普通很多"></nz-option>
      <nz-option [nzValue]="1.05" nzLabel="优秀很多"></nz-option>
    </nz-select>
  </div>
</div>
<div class="item">
  <label>异性环境系数：</label>
  <div class="flex-1">
    <nz-select [(ngModel)]="oppositeSixEnvironment">
      <nz-option [nzValue]="0.9" nzLabel="几乎没有"></nz-option>
      <nz-option [nzValue]="1" nzLabel="不多不少"></nz-option>
      <nz-option [nzValue]="1.1" nzLabel="很多"></nz-option>
    </nz-select>
  </div>
</div>
<div class="item">
  <label>职业资格：</label>
  <div class="flex-1">
    <nz-select [(ngModel)]="qualificationsEnvironment">
      <nz-option [nzValue]="1" nzLabel="无要求"></nz-option>
      <nz-option [nzValue]="1.05" nzLabel="建造造价监理"></nz-option>
      <nz-option [nzValue]="1.1" nzLabel="建筑岩土结构"></nz-option>
      <nz-option [nzValue]="1.15" nzLabel="主任医师、教授"></nz-option>
    </nz-select>
  </div>
</div>
<div class="item">
  <label>是否8:30(包括)前上班：</label>
  <div class="flex-1">
    <nz-select [(ngModel)]="load830">
      <nz-option [nzValue]="0.95" nzLabel="是"></nz-option>
      <nz-option [nzValue]="1" nzLabel="否"></nz-option>
    </nz-select>
  </div>
</div>
<div class="item">
  <label class="result">最终结果：</label>
  <div class="flex-1">
    {{
          ((dailyWage *
            workEnvironment *
            oppositeSixEnvironment *
            colleagueEnvironment *
            cityEnvironment) /
            (35 *
              (workingHours + commuteHours - 0.5 * loafHours) *
              education *
              qualificationsEnvironment)) *
            load830
        }}
  </div>
</div>
<div class="item">
  <label class="result">说明：</label>
  <div class="flex-1">
    低于0.8:惨; 高于1.5:爽; 高于2:爽爆了; 仅供娱乐参考
  </div>
</div>